<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the aprobaciones_init() hook (in hooks/aprobaciones.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="aprobaciones-id_aprobaciones-<%%VALUE(id_aprobaciones)%%>" class="aprobaciones-id_aprobaciones text-right"><%%VALUE(id_aprobaciones)%%></td>
		<td id="aprobaciones-nombre_aprobaciones-<%%VALUE(id_aprobaciones)%%>" class="aprobaciones-nombre_aprobaciones"><%%VALUE(nombre_aprobaciones)%%></td>
