<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the canton_init() hook (in hooks/canton.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="canton-id_c-<%%VALUE(id_c)%%>" class="canton-id_c text-right"><%%SELECT%%><%%VALUE(id_c)%%><%%ENDSELECT%%></td>
		<td id="canton-codigo_provincia_c-<%%VALUE(id_c)%%>" class="canton-codigo_provincia_c"><%%SELECT%%><%%VALUE(codigo_provincia_c)%%><%%ENDSELECT%%></td>
		<td id="canton-nombre_c-<%%VALUE(id_c)%%>" class="canton-nombre_c"><%%SELECT%%><%%VALUE(nombre_c)%%><%%ENDSELECT%%></td>
