<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the canton_init() hook (in hooks/canton.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="canton-id_c-<%%VALUE(id_c)%%>" class="canton-id_c text-right"><%%VALUE(id_c)%%></td>
		<td id="canton-codigo_provincia_c-<%%VALUE(id_c)%%>" class="canton-codigo_provincia_c"><%%VALUE(codigo_provincia_c)%%></td>
		<td id="canton-nombre_c-<%%VALUE(id_c)%%>" class="canton-nombre_c"><%%VALUE(nombre_c)%%></td>
