<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group cliente-id_cliente" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_cliente)%%></div>
			</div>
		</div>
		<!-- Field: C&#201;DULA -->
		<div class="form-group cliente-cedula_cliente" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">C&#201;DULA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cedula_cliente)%%></div>
			</div>
		</div>
		<!-- Field: NOMBRE -->
		<div class="form-group cliente-nombre_cliente" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOMBRE</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre_cliente)%%></div>
			</div>
		</div>
		<!-- Field: APELLIDO -->
		<div class="form-group cliente-apellido_cliente" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">APELLIDO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(apellido_cliente)%%></div>
			</div>
		</div>
		<!-- Field: CORREO -->
		<div class="form-group cliente-correo_cliente" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CORREO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(correo_cliente)%%></div>
			</div>
		</div>
		<!-- Field: CELULAR -->
		<div class="form-group cliente-celular_cliente" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CELULAR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(celular_cliente)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
