<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the cliente_init() hook (in hooks/cliente.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="cliente-cedula_cliente-<%%VALUE(id_cliente)%%>" class="cliente-cedula_cliente"><%%SELECT%%><%%VALUE(cedula_cliente)%%><%%ENDSELECT%%></td>
		<td id="cliente-nombre_cliente-<%%VALUE(id_cliente)%%>" class="cliente-nombre_cliente"><%%SELECT%%><%%VALUE(nombre_cliente)%%><%%ENDSELECT%%></td>
		<td id="cliente-apellido_cliente-<%%VALUE(id_cliente)%%>" class="cliente-apellido_cliente"><%%SELECT%%><%%VALUE(apellido_cliente)%%><%%ENDSELECT%%></td>
		<td id="cliente-correo_cliente-<%%VALUE(id_cliente)%%>" class="cliente-correo_cliente"><%%SELECT%%><%%VALUE(correo_cliente)%%><%%ENDSELECT%%></td>
		<td id="cliente-celular_cliente-<%%VALUE(id_cliente)%%>" class="cliente-celular_cliente"><%%SELECT%%><%%VALUE(celular_cliente)%%><%%ENDSELECT%%></td>
