<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the cliente_init() hook (in hooks/cliente.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="cliente-cedula_cliente-<%%VALUE(id_cliente)%%>" class="cliente-cedula_cliente"><%%VALUE(cedula_cliente)%%></td>
		<td id="cliente-nombre_cliente-<%%VALUE(id_cliente)%%>" class="cliente-nombre_cliente"><%%VALUE(nombre_cliente)%%></td>
		<td id="cliente-apellido_cliente-<%%VALUE(id_cliente)%%>" class="cliente-apellido_cliente"><%%VALUE(apellido_cliente)%%></td>
		<td id="cliente-correo_cliente-<%%VALUE(id_cliente)%%>" class="cliente-correo_cliente"><%%VALUE(correo_cliente)%%></td>
		<td id="cliente-celular_cliente-<%%VALUE(id_cliente)%%>" class="cliente-celular_cliente"><%%VALUE(celular_cliente)%%></td>
