<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the compra_producto_init() hook (in hooks/compra_producto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="compra_producto-compra_compra_producto-<%%VALUE(id_compra_producto)%%>" class="compra_producto-compra_compra_producto"><%%SELECT%%><%%VALUE(compra_compra_producto)%%><%%ENDSELECT%%></td>
		<td id="compra_producto-producto_compra_producto-<%%VALUE(id_compra_producto)%%>" class="compra_producto-producto_compra_producto"><%%SELECT%%><%%VALUE(producto_compra_producto)%%><%%ENDSELECT%%></td>
		<td id="compra_producto-nombre_producto_compra_producto-<%%VALUE(id_compra_producto)%%>" class="compra_producto-nombre_producto_compra_producto"><%%SELECT%%><%%VALUE(nombre_producto_compra_producto)%%><%%ENDSELECT%%></td>
