<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group compra_producto-id_compra_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_compra_producto)%%></div>
			</div>
		</div>
		<!-- Field: COMPRA -->
		<div class="form-group compra_producto-compra_compra_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">COMPRA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="compra_compra_producto<%%RND1%%>"><%%COMBOTEXT(compra_compra_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: CODIGO PRODUCTO -->
		<div class="form-group compra_producto-producto_compra_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CODIGO PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="producto_compra_producto<%%RND1%%>"><%%COMBOTEXT(producto_compra_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: PRODUCTO -->
		<div class="form-group compra_producto-nombre_producto_compra_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="nombre_producto_compra_producto<%%RND1%%>"></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
