<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the compras_init() hook (in hooks/compras.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="compras-numero_factura-<%%VALUE(id_compras)%%>" class="compras-numero_factura"><%%VALUE(numero_factura)%%></td>
		<td id="compras-ruc-<%%VALUE(id_compras)%%>" class="compras-ruc"><%%VALUE(ruc)%%></td>
