<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group control_stock-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: FECHA DEL MOVIMIENTO -->
		<div class="form-group control_stock-fecha_movimiento" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA DEL MOVIMIENTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_movimiento)%%></div>
			</div>
		</div>
		<!-- Field: TIPO MOVIMIENTO -->
		<div class="form-group control_stock-tipo_movimiento" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">TIPO MOVIMIENTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_movimiento<%%RND1%%>"><%%COMBOTEXT(tipo_movimiento)%%></span></div>
			</div>
		</div>
		<!-- Field: NUMERO GUIA/CONTRATO -->
		<div class="form-group control_stock-numero_guia_contrato" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NUMERO GUIA/CONTRATO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(numero_guia_contrato)%%></div>
			</div>
		</div>
		<!-- Field: VENDEDOR -->
		<div class="form-group control_stock-vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VENDEDOR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vendedor<%%RND1%%>"><%%COMBOTEXT(vendedor)%%></span></div>
			</div>
		</div>
		<!-- Field: CLIENTE -->
		<div class="form-group control_stock-cliente" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CLIENTE</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cliente)%%></div>
			</div>
		</div>
		<!-- Field: CATEGORIA PRODUCTO -->
		<div class="form-group control_stock-categoria_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CATEGORIA PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="categoria_producto<%%RND1%%>"><%%COMBOTEXT(categoria_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: PRODUCTO -->
		<div class="form-group control_stock-producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="producto<%%RND1%%>"><%%COMBOTEXT(producto)%%></span></div>
			</div>
		</div>
		<!-- Field: C&#211;DIGO PRODUCTO -->
		<div class="form-group control_stock-codigo_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">C&#211;DIGO PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="codigo_producto<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: CANTIDAD -->
		<div class="form-group control_stock-cantidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CANTIDAD</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
