<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the control_stock_init() hook (in hooks/control_stock.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="control_stock-fecha_movimiento-<%%VALUE(id)%%>" class="control_stock-fecha_movimiento"><%%VALUE(fecha_movimiento)%%></td>
		<td id="control_stock-tipo_movimiento-<%%VALUE(id)%%>" class="control_stock-tipo_movimiento"><%%VALUE(tipo_movimiento)%%></td>
		<td id="control_stock-numero_guia_contrato-<%%VALUE(id)%%>" class="control_stock-numero_guia_contrato"><%%VALUE(numero_guia_contrato)%%></td>
		<td id="control_stock-vendedor-<%%VALUE(id)%%>" class="control_stock-vendedor"><%%VALUE(vendedor)%%></td>
		<td id="control_stock-cliente-<%%VALUE(id)%%>" class="control_stock-cliente"><%%VALUE(cliente)%%></td>
		<td id="control_stock-categoria_producto-<%%VALUE(id)%%>" class="control_stock-categoria_producto"><%%VALUE(categoria_producto)%%></td>
		<td id="control_stock-producto-<%%VALUE(id)%%>" class="control_stock-producto"><%%VALUE(producto)%%></td>
		<td id="control_stock-codigo_producto-<%%VALUE(id)%%>" class="control_stock-codigo_producto"><%%VALUE(codigo_producto)%%></td>
		<td id="control_stock-cantidad-<%%VALUE(id)%%>" class="control_stock-cantidad text-right"><%%VALUE(cantidad)%%></td>
