<!-- To change the layout of the detail view form, we recommend using JS code in hooks/control_stock-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="control_stock_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="control_stock_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="control_stock_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group control_stock-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: FECHA DEL MOVIMIENTO -->
				<div class="form-group control_stock-fecha_movimiento">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_movimiento-dd">FECHA DEL MOVIMIENTO</label>
					<div class="col-lg-9">
						<%%COMBO(fecha_movimiento)%%>
					</div>
				</div>

				<!-- Field: TIPO MOVIMIENTO -->
				<div class="form-group control_stock-tipo_movimiento">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tipo_movimiento" data-parent_link="view_parent_modal">TIPO MOVIMIENTO</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(tipo_movimiento)%%><%%PLINK(tipo_movimiento)%%><%%ADDNEW(tipo_movimiento)%%></div>
					</div>
				</div>

				<!-- Field: NUMERO GUIA/CONTRATO -->
				<div class="form-group control_stock-numero_guia_contrato">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="numero_guia_contrato">NUMERO GUIA/CONTRATO</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="numero_guia_contrato" id="numero_guia_contrato" value="<%%VALUE(numero_guia_contrato)%%>">
					</div>
				</div>

				<!-- Field: VENDEDOR -->
				<div class="form-group control_stock-vendedor">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="vendedor" data-parent_link="view_parent_modal">VENDEDOR</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(vendedor)%%><%%PLINK(vendedor)%%><%%ADDNEW(vendedor)%%></div>
					</div>
				</div>

				<!-- Field: CLIENTE -->
				<div class="form-group control_stock-cliente">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cliente">CLIENTE</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="cliente" id="cliente" value="<%%VALUE(cliente)%%>">
					</div>
				</div>

				<!-- Field: CATEGORIA PRODUCTO -->
				<div class="form-group control_stock-categoria_producto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="categoria_producto" data-parent_link="view_parent_modal">CATEGORIA PRODUCTO</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(categoria_producto)%%><%%PLINK(categoria_producto)%%><%%ADDNEW(tipo_producto)%%></div>
					</div>
				</div>

				<!-- Field: PRODUCTO -->
				<div class="form-group control_stock-producto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="producto" data-parent_link="view_parent_modal">PRODUCTO</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(producto)%%><%%PLINK(producto)%%><%%ADDNEW(producto)%%><span id="productoLoading"></span></div>
					</div>
				</div>

				<!-- Field: C&#211;DIGO PRODUCTO -->
				<div class="form-group control_stock-codigo_producto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">C&#211;DIGO PRODUCTO</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="codigo_producto"></div>
					</div>
				</div>

				<!-- Field: CANTIDAD -->
				<div class="form-group control_stock-cantidad">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cantidad">CANTIDAD</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" name="cantidad" id="cantidad" value="<%%VALUE(cantidad)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="control_stock_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#control_stock_dv_container-loading').addClass('hidden');
			$j('#control_stock_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('control_stock', 'fecha_movimiento');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'control_stock',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=control_stock&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=control_stock&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>