<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the control_stock_init() hook (in hooks/control_stock.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="control_stock-fecha_movimiento-<%%VALUE(id)%%>" class="control_stock-fecha_movimiento"><%%SELECT%%><%%VALUE(fecha_movimiento)%%><%%ENDSELECT%%></td>
		<td id="control_stock-tipo_movimiento-<%%VALUE(id)%%>" class="control_stock-tipo_movimiento"><%%SELECT%%><%%VALUE(tipo_movimiento)%%><%%ENDSELECT%%></td>
		<td id="control_stock-numero_guia_contrato-<%%VALUE(id)%%>" class="control_stock-numero_guia_contrato"><%%SELECT%%><%%VALUE(numero_guia_contrato)%%><%%ENDSELECT%%></td>
		<td id="control_stock-vendedor-<%%VALUE(id)%%>" class="control_stock-vendedor"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="control_stock-cliente-<%%VALUE(id)%%>" class="control_stock-cliente"><%%SELECT%%><%%VALUE(cliente)%%><%%ENDSELECT%%></td>
		<td id="control_stock-categoria_producto-<%%VALUE(id)%%>" class="control_stock-categoria_producto"><%%SELECT%%><%%VALUE(categoria_producto)%%><%%ENDSELECT%%></td>
		<td id="control_stock-producto-<%%VALUE(id)%%>" class="control_stock-producto"><%%SELECT%%><%%VALUE(producto)%%><%%ENDSELECT%%></td>
		<td id="control_stock-codigo_producto-<%%VALUE(id)%%>" class="control_stock-codigo_producto"><%%SELECT%%><%%VALUE(codigo_producto)%%><%%ENDSELECT%%></td>
		<td id="control_stock-cantidad-<%%VALUE(id)%%>" class="control_stock-cantidad text-right"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
