<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the dependencia_laboral_init() hook (in hooks/dependencia_laboral.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="dependencia_laboral-id_dependencia_laboral-<%%VALUE(id_dependencia_laboral)%%>" class="dependencia_laboral-id_dependencia_laboral text-right"><%%SELECT%%><%%VALUE(id_dependencia_laboral)%%><%%ENDSELECT%%></td>
		<td id="dependencia_laboral-nombre_dependencia_laboral-<%%VALUE(id_dependencia_laboral)%%>" class="dependencia_laboral-nombre_dependencia_laboral"><%%SELECT%%><%%VALUE(nombre_dependencia_laboral)%%><%%ENDSELECT%%></td>
