<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the entrega_mercaderia_init() hook (in hooks/entrega_mercaderia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="entrega_mercaderia-numero_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-numero_entrega_mercaderia"><%%SELECT%%><%%VALUE(numero_entrega_mercaderia)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-fecha_creacion_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-fecha_creacion_entrega_mercaderia"><%%SELECT%%><%%VALUE(fecha_creacion_entrega_mercaderia)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-fecha_inicio_traslado-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-fecha_inicio_traslado"><%%SELECT%%><%%VALUE(fecha_inicio_traslado)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-fecha_terminacion_traslado-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-fecha_terminacion_traslado"><%%SELECT%%><%%VALUE(fecha_terminacion_traslado)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-motivo_traslado-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-motivo_traslado"><%%SELECT%%><%%VALUE(motivo_traslado)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-punto_partida-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-punto_partida"><%%SELECT%%><%%VALUE(punto_partida)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-punto_llegada-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-punto_llegada"><%%SELECT%%><%%VALUE(punto_llegada)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-punto_llegada_canton-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-punto_llegada_canton"><%%SELECT%%><%%VALUE(punto_llegada_canton)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-vendedor-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-vendedor"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-nota_pedido-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-nota_pedido"><%%SELECT%%><%%VALUE(nota_pedido)%%><%%ENDSELECT%%></td>
		<td id="entrega_mercaderia-archivo_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-archivo_entrega_mercaderia"><a href="link.php?t=entrega_mercaderia&f=archivo_entrega_mercaderia&i=<%%VALUE(numero_entrega_mercaderia)%%>" target="_blank" title="<%%VALUE(archivo_entrega_mercaderia)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<script>$j(function() {
			var e_archivo_entrega_mercaderia = '<%%VALUE(archivo_entrega_mercaderia)%%>'; if(e_archivo_entrega_mercaderia == '' || e_archivo_entrega_mercaderia == '&nbsp;') $j(/*<*/ '#entrega_mercaderia-archivo_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>' /*>*/).html('');
		});</script>
