<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: NUMERO GUIA ENTREGA MERCADERIA -->
		<div class="form-group entrega_mercaderia-numero_entrega_mercaderia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NUMERO GUIA ENTREGA MERCADERIA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(numero_entrega_mercaderia)%%></div>
			</div>
		</div>
		<!-- Field: FECHA INICIO TRASLADO -->
		<div class="form-group entrega_mercaderia-fecha_inicio_traslado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA INICIO TRASLADO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_inicio_traslado)%%></div>
			</div>
		</div>
		<!-- Field: FECHA TERMINACION TRASLADO -->
		<div class="form-group entrega_mercaderia-fecha_terminacion_traslado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA TERMINACION TRASLADO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_terminacion_traslado)%%></div>
			</div>
		</div>
		<!-- Field: MOTIVO TRASLADO -->
		<div class="form-group entrega_mercaderia-motivo_traslado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MOTIVO TRASLADO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(motivo_traslado)%%></div>
			</div>
		</div>
		<!-- Field: PUNTO PARTIDA -->
		<div class="form-group entrega_mercaderia-punto_partida" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PUNTO PARTIDA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(punto_partida)%%></div>
			</div>
		</div>
		<!-- Field: PUNTO LLEGADA ( PROVINCIA ) -->
		<div class="form-group entrega_mercaderia-punto_llegada" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PUNTO LLEGADA ( PROVINCIA )</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="punto_llegada<%%RND1%%>"><%%COMBOTEXT(punto_llegada)%%></span></div>
			</div>
		</div>
		<!-- Field: PUNTO LLEGADA ( CANTON ) -->
		<div class="form-group entrega_mercaderia-punto_llegada_canton" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PUNTO LLEGADA ( CANTON )</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="punto_llegada_canton<%%RND1%%>"><%%COMBOTEXT(punto_llegada_canton)%%></span></div>
			</div>
		</div>
		<!-- Field: VENDEDOR -->
		<div class="form-group entrega_mercaderia-vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VENDEDOR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vendedor<%%RND1%%>"><%%COMBOTEXT(vendedor)%%></span></div>
			</div>
		</div>
		<!-- Field: NOTA DE PEDIDO -->
		<div class="form-group entrega_mercaderia-nota_pedido" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOTA DE PEDIDO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="nota_pedido<%%RND1%%>"><%%COMBOTEXT(nota_pedido)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="entrega_mercaderia-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=entrega_mercaderia-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'entrega_mercaderia',
				SelectedID: '<%%VALUE(numero_entrega_mercaderia)%%>',
				Operation: 'show-children-printable'
			},
			'entrega_mercaderia-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

