<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the entrega_mercaderia_init() hook (in hooks/entrega_mercaderia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="entrega_mercaderia-numero_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-numero_entrega_mercaderia"><%%VALUE(numero_entrega_mercaderia)%%></td>
		<td id="entrega_mercaderia-fecha_creacion_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-fecha_creacion_entrega_mercaderia"><%%VALUE(fecha_creacion_entrega_mercaderia)%%></td>
		<td id="entrega_mercaderia-fecha_inicio_traslado-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-fecha_inicio_traslado"><%%VALUE(fecha_inicio_traslado)%%></td>
		<td id="entrega_mercaderia-fecha_terminacion_traslado-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-fecha_terminacion_traslado"><%%VALUE(fecha_terminacion_traslado)%%></td>
		<td id="entrega_mercaderia-motivo_traslado-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-motivo_traslado"><%%VALUE(motivo_traslado)%%></td>
		<td id="entrega_mercaderia-punto_partida-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-punto_partida"><%%VALUE(punto_partida)%%></td>
		<td id="entrega_mercaderia-punto_llegada-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-punto_llegada"><%%VALUE(punto_llegada)%%></td>
		<td id="entrega_mercaderia-punto_llegada_canton-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-punto_llegada_canton"><%%VALUE(punto_llegada_canton)%%></td>
		<td id="entrega_mercaderia-vendedor-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-vendedor"><%%VALUE(vendedor)%%></td>
		<td id="entrega_mercaderia-nota_pedido-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-nota_pedido"><%%VALUE(nota_pedido)%%></td>
		<td id="entrega_mercaderia-archivo_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>" class="entrega_mercaderia-archivo_entrega_mercaderia"><a href="link.php?t=entrega_mercaderia&f=archivo_entrega_mercaderia&i=<%%VALUE(numero_entrega_mercaderia)%%>" target="_blank" title="<%%VALUE(archivo_entrega_mercaderia)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<script>$j(function() {
			var e_archivo_entrega_mercaderia = '<%%VALUE(archivo_entrega_mercaderia)%%>'; if(e_archivo_entrega_mercaderia == '' || e_archivo_entrega_mercaderia == '&nbsp;') $j(/*<*/ '#entrega_mercaderia-archivo_entrega_mercaderia-<%%VALUE(numero_entrega_mercaderia)%%>' /*>*/).html('');
		});</script>
