<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the guia_remision_init() hook (in hooks/guia_remision.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="guia_remision-numero_guia_remision-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-numero_guia_remision"><%%SELECT%%><%%VALUE(numero_guia_remision)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-fecha_creacion_guia_remision-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-fecha_creacion_guia_remision"><%%SELECT%%><%%VALUE(fecha_creacion_guia_remision)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-fecha_inicio_traslado-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-fecha_inicio_traslado"><%%SELECT%%><%%VALUE(fecha_inicio_traslado)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-fecha_terminacion_traslado-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-fecha_terminacion_traslado"><%%SELECT%%><%%VALUE(fecha_terminacion_traslado)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-punto_partida-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-punto_partida"><%%SELECT%%><%%VALUE(punto_partida)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-destinatario-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-destinatario"><%%SELECT%%><%%VALUE(destinatario)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-punto_llegada-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-punto_llegada"><%%SELECT%%><%%VALUE(punto_llegada)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-punto_llegada_canton-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-punto_llegada_canton"><%%SELECT%%><%%VALUE(punto_llegada_canton)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-placa-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-placa"><%%SELECT%%><%%VALUE(placa)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-vendedor-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-vendedor"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-nota_pedido-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-nota_pedido"><%%SELECT%%><%%VALUE(nota_pedido)%%><%%ENDSELECT%%></td>
		<td id="guia_remision-archivo_guia_remision-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-archivo_guia_remision"><a href="link.php?t=guia_remision&f=archivo_guia_remision&i=<%%VALUE(numero_guia_remision)%%>" target="_blank" title="<%%VALUE(archivo_guia_remision)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<td id="guia_remision-archivo_entrega_mercaderia-<%%VALUE(numero_guia_remision)%%>" class="guia_remision-archivo_entrega_mercaderia"><a href="link.php?t=guia_remision&f=archivo_entrega_mercaderia&i=<%%VALUE(numero_guia_remision)%%>" target="_blank" title="<%%VALUE(archivo_entrega_mercaderia)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<script>$j(function() {
			var e_archivo_guia_remision = '<%%VALUE(archivo_guia_remision)%%>'; if(e_archivo_guia_remision == '' || e_archivo_guia_remision == '&nbsp;') $j(/*<*/ '#guia_remision-archivo_guia_remision-<%%VALUE(numero_guia_remision)%%>' /*>*/).html('');
			var e_archivo_entrega_mercaderia = '<%%VALUE(archivo_entrega_mercaderia)%%>'; if(e_archivo_entrega_mercaderia == '' || e_archivo_entrega_mercaderia == '&nbsp;') $j(/*<*/ '#guia_remision-archivo_entrega_mercaderia-<%%VALUE(numero_guia_remision)%%>' /*>*/).html('');
		});</script>
