<!-- To change the layout of the detail view form, we recommend using JS code in hooks/guia_remision-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="guia_remision_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="guia_remision_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="guia_remision_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: NUMERO GUIA REMISION -->
				<div class="form-group guia_remision-numero_guia_remision">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="numero_guia_remision">NUMERO GUIA REMISION</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="numero_guia_remision" id="numero_guia_remision" value="<%%VALUE(numero_guia_remision)%%>" required>
					</div>
				</div>

				<!-- Field: FECHA INICIO TRASLADO -->
				<div class="form-group guia_remision-fecha_inicio_traslado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_inicio_traslado-dd">FECHA INICIO TRASLADO<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(fecha_inicio_traslado)%%>
					</div>
				</div>

				<!-- Field: FECHA TERMINACION TRASLADO -->
				<div class="form-group guia_remision-fecha_terminacion_traslado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_terminacion_traslado-dd">FECHA TERMINACION TRASLADO<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(fecha_terminacion_traslado)%%>
					</div>
				</div>

				<!-- Field: MOTIVO TRASLADO -->
				<div class="form-group guia_remision-motivo_traslado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="motivo_traslado">MOTIVO TRASLADO<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(motivo_traslado)%%>
					</div>
				</div>

				<!-- Field: PUNTO PARTIDA -->
				<div class="form-group guia_remision-punto_partida">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="punto_partida" data-parent_link="view_parent_modal">PUNTO PARTIDA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(punto_partida)%%><%%PLINK(punto_partida)%%><%%ADDNEW(canton)%%></div>
					</div>
				</div>

				<!-- Field: DESTINATARIO -->
				<div class="form-group guia_remision-destinatario">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="destinatario">DESTINATARIO<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="destinatario" id="destinatario" value="<%%VALUE(destinatario)%%>" required>
					</div>
				</div>

				<!-- Field: RUC CI -->
				<div class="form-group guia_remision-ruc_ci">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ruc_ci">RUC CI<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="ruc_ci" id="ruc_ci" value="<%%VALUE(ruc_ci)%%>" required>
					</div>
				</div>

				<!-- Field: PUNTO LLEGADA ( PROVINCIA ) -->
				<div class="form-group guia_remision-punto_llegada">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="punto_llegada" data-parent_link="view_parent_modal">PUNTO LLEGADA ( PROVINCIA )<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(punto_llegada)%%><%%PLINK(punto_llegada)%%><%%ADDNEW(provincia)%%></div>
					</div>
				</div>

				<!-- Field: PUNTO LLEGADA ( CANTON ) -->
				<div class="form-group guia_remision-punto_llegada_canton">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="punto_llegada_canton" data-parent_link="view_parent_modal">PUNTO LLEGADA ( CANTON )<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(punto_llegada_canton)%%><%%PLINK(punto_llegada_canton)%%><%%ADDNEW(canton)%%></div>
					</div>
				</div>

				<!-- Field: PLACA -->
				<div class="form-group guia_remision-placa">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="placa">PLACA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="placa" id="placa" value="<%%VALUE(placa)%%>" required>
					</div>
				</div>

				<!-- Field: NOMBRE PERSONA ENCARGADA -->
				<div class="form-group guia_remision-persona_encarga_nombre">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="persona_encarga_nombre">NOMBRE PERSONA ENCARGADA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="persona_encarga_nombre" id="persona_encarga_nombre" value="<%%VALUE(persona_encarga_nombre)%%>" required>
					</div>
				</div>

				<!-- Field: RUC-CI ENCARGADA -->
				<div class="form-group guia_remision-ruc_ci_persona_encargada">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ruc_ci_persona_encargada">RUC-CI ENCARGADA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#ruc_ci_persona_encargada-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="ruc_ci_persona_encargada-description"><div class="alert alert-info bspacer-xs">Identificacion de la persona encargada</div></span>
						<input maxlength="255" type="text" class="form-control" name="ruc_ci_persona_encargada" id="ruc_ci_persona_encargada" value="<%%VALUE(ruc_ci_persona_encargada)%%>" required>
					</div>
				</div>

				<!-- Field: VENDEDOR -->
				<div class="form-group guia_remision-vendedor">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="vendedor" data-parent_link="view_parent_modal">VENDEDOR<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(vendedor)%%><%%PLINK(vendedor)%%><%%ADDNEW(vendedor)%%></div>
					</div>
				</div>

				<!-- Field: NOTA DE PEDIDO -->
				<div class="form-group guia_remision-nota_pedido">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nota_pedido" data-parent_link="view_parent_modal">NOTA DE PEDIDO<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(nota_pedido)%%><%%PLINK(nota_pedido)%%><%%ADDNEW(nota_pedido)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="guia_remision_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#guia_remision_dv_container-loading').addClass('hidden');
			$j('#guia_remision_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('guia_remision', 'numero_guia_remision');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'guia_remision',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=guia_remision&id=<%%URLVALUE(numero_guia_remision)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=guia_remision&id=<%%URLVALUE(numero_guia_remision)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>