<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: NUMERO GUIA REMISION -->
		<div class="form-group guia_remision-numero_guia_remision" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NUMERO GUIA REMISION</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(numero_guia_remision)%%></div>
			</div>
		</div>
		<!-- Field: FECHA INICIO TRASLADO -->
		<div class="form-group guia_remision-fecha_inicio_traslado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA INICIO TRASLADO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_inicio_traslado)%%></div>
			</div>
		</div>
		<!-- Field: FECHA TERMINACION TRASLADO -->
		<div class="form-group guia_remision-fecha_terminacion_traslado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA TERMINACION TRASLADO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_terminacion_traslado)%%></div>
			</div>
		</div>
		<!-- Field: MOTIVO TRASLADO -->
		<div class="form-group guia_remision-motivo_traslado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MOTIVO TRASLADO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(motivo_traslado)%%></div>
			</div>
		</div>
		<!-- Field: PUNTO PARTIDA -->
		<div class="form-group guia_remision-punto_partida" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PUNTO PARTIDA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="punto_partida<%%RND1%%>"><%%COMBOTEXT(punto_partida)%%></span></div>
			</div>
		</div>
		<!-- Field: DESTINATARIO -->
		<div class="form-group guia_remision-destinatario" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">DESTINATARIO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(destinatario)%%></div>
			</div>
		</div>
		<!-- Field: RUC CI -->
		<div class="form-group guia_remision-ruc_ci" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">RUC CI</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ruc_ci)%%></div>
			</div>
		</div>
		<!-- Field: PUNTO LLEGADA ( PROVINCIA ) -->
		<div class="form-group guia_remision-punto_llegada" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PUNTO LLEGADA ( PROVINCIA )</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="punto_llegada<%%RND1%%>"><%%COMBOTEXT(punto_llegada)%%></span></div>
			</div>
		</div>
		<!-- Field: PUNTO LLEGADA ( CANTON ) -->
		<div class="form-group guia_remision-punto_llegada_canton" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PUNTO LLEGADA ( CANTON )</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="punto_llegada_canton<%%RND1%%>"><%%COMBOTEXT(punto_llegada_canton)%%></span></div>
			</div>
		</div>
		<!-- Field: PLACA -->
		<div class="form-group guia_remision-placa" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PLACA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(placa)%%></div>
			</div>
		</div>
		<!-- Field: NOMBRE PERSONA ENCARGADA -->
		<div class="form-group guia_remision-persona_encarga_nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOMBRE PERSONA ENCARGADA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(persona_encarga_nombre)%%></div>
			</div>
		</div>
		<!-- Field: RUC-CI ENCARGADA -->
		<div class="form-group guia_remision-ruc_ci_persona_encargada" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">RUC-CI ENCARGADA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ruc_ci_persona_encargada)%%></div>
			</div>
		</div>
		<!-- Field: VENDEDOR -->
		<div class="form-group guia_remision-vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VENDEDOR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vendedor<%%RND1%%>"><%%COMBOTEXT(vendedor)%%></span></div>
			</div>
		</div>
		<!-- Field: NOTA DE PEDIDO -->
		<div class="form-group guia_remision-nota_pedido" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOTA DE PEDIDO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="nota_pedido<%%RND1%%>"><%%COMBOTEXT(nota_pedido)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
