<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the inventario_bodega_central_init() hook (in hooks/inventario_bodega_central.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="inventario_bodega_central-codigo_producto-<%%VALUE(id_inventario_bodega_central)%%>" class="inventario_bodega_central-codigo_producto"><%%SELECT%%><%%VALUE(codigo_producto)%%><%%ENDSELECT%%></td>
		<td id="inventario_bodega_central-nombre_producto-<%%VALUE(id_inventario_bodega_central)%%>" class="inventario_bodega_central-nombre_producto"><%%SELECT%%><%%VALUE(nombre_producto)%%><%%ENDSELECT%%></td>
		<td id="inventario_bodega_central-cantidad_producto-<%%VALUE(id_inventario_bodega_central)%%>" class="inventario_bodega_central-cantidad_producto text-right"><%%SELECT%%><%%VALUE(cantidad_producto)%%><%%ENDSELECT%%></td>
