<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group inventario_bodega_central-id_inventario_bodega_central" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_inventario_bodega_central)%%></div>
			</div>
		</div>
		<!-- Field: CODIGO -->
		<div class="form-group inventario_bodega_central-codigo_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CODIGO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="codigo_producto<%%RND1%%>"><%%COMBOTEXT(codigo_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: NOMBRE -->
		<div class="form-group inventario_bodega_central-nombre_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOMBRE</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre_producto)%%></div>
			</div>
		</div>
		<!-- Field: CANTIDAD -->
		<div class="form-group inventario_bodega_central-cantidad_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CANTIDAD</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad_producto)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
