<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: NUMERO GUIA -->
		<div class="form-group nota_devolucion-numero_guia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NUMERO GUIA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(numero_guia)%%></div>
			</div>
		</div>
		<!-- Field: VENDEDOR -->
		<div class="form-group nota_devolucion-vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VENDEDOR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vendedor<%%RND1%%>"><%%COMBOTEXT(vendedor)%%></span></div>
			</div>
		</div>
		<!-- Field: FECHA -->
		<div class="form-group nota_devolucion-fecha" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha)%%></div>
			</div>
		</div>
		<!-- Field: CANTIDAD ITEMS -->
		<div class="form-group nota_devolucion-cantidad_productos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CANTIDAD ITEMS</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad_productos)%%></div>
			</div>
		</div>
		<!-- Field: OBSERVACIONES -->
		<div class="form-group nota_devolucion-observaciones" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">OBSERVACIONES</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(observaciones)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="nota_devolucion-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=nota_devolucion-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'nota_devolucion',
				SelectedID: '<%%VALUE(numero_guia)%%>',
				Operation: 'show-children-printable'
			},
			'nota_devolucion-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

