<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the nota_devolucion_init() hook (in hooks/nota_devolucion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="nota_devolucion-id-<%%VALUE(numero_guia)%%>" class="nota_devolucion-id text-right"><%%VALUE(id)%%></td>
		<td id="nota_devolucion-fecha_ingreso-<%%VALUE(numero_guia)%%>" class="nota_devolucion-fecha_ingreso"><%%VALUE(fecha_ingreso)%%></td>
		<td id="nota_devolucion-numero_guia-<%%VALUE(numero_guia)%%>" class="nota_devolucion-numero_guia"><%%VALUE(numero_guia)%%></td>
		<td id="nota_devolucion-vendedor-<%%VALUE(numero_guia)%%>" class="nota_devolucion-vendedor"><%%VALUE(vendedor)%%></td>
		<td id="nota_devolucion-fecha-<%%VALUE(numero_guia)%%>" class="nota_devolucion-fecha"><%%VALUE(fecha)%%></td>
		<td id="nota_devolucion-cantidad_productos-<%%VALUE(numero_guia)%%>" class="nota_devolucion-cantidad_productos text-right"><%%VALUE(cantidad_productos)%%></td>
		<td id="nota_devolucion-observaciones-<%%VALUE(numero_guia)%%>" class="nota_devolucion-observaciones"><%%VALUE(observaciones)%%></td>
		<td id="nota_devolucion-archivo_nota_devolucion-<%%VALUE(numero_guia)%%>" class="nota_devolucion-archivo_nota_devolucion"><a href="link.php?t=nota_devolucion&f=archivo_nota_devolucion&i=<%%VALUE(numero_guia)%%>" target="_blank" title="<%%VALUE(archivo_nota_devolucion)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<script>$j(function() {
			var e_archivo_nota_devolucion = '<%%VALUE(archivo_nota_devolucion)%%>'; if(e_archivo_nota_devolucion == '' || e_archivo_nota_devolucion == '&nbsp;') $j(/*<*/ '#nota_devolucion-archivo_nota_devolucion-<%%VALUE(numero_guia)%%>' /*>*/).html('');
		});</script>
