<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the nota_pedido_init() hook (in hooks/nota_pedido.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="nota_pedido-id-<%%VALUE(numero_guia)%%>" class="nota_pedido-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="nota_pedido-fecha_ingreso-<%%VALUE(numero_guia)%%>" class="nota_pedido-fecha_ingreso"><%%SELECT%%><%%VALUE(fecha_ingreso)%%><%%ENDSELECT%%></td>
		<td id="nota_pedido-numero_guia-<%%VALUE(numero_guia)%%>" class="nota_pedido-numero_guia"><%%SELECT%%><%%VALUE(numero_guia)%%><%%ENDSELECT%%></td>
		<td id="nota_pedido-vendedor-<%%VALUE(numero_guia)%%>" class="nota_pedido-vendedor"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="nota_pedido-fecha-<%%VALUE(numero_guia)%%>" class="nota_pedido-fecha"><%%SELECT%%><%%VALUE(fecha)%%><%%ENDSELECT%%></td>
		<td id="nota_pedido-cantidad_productos-<%%VALUE(numero_guia)%%>" class="nota_pedido-cantidad_productos text-right"><%%SELECT%%><%%VALUE(cantidad_productos)%%><%%ENDSELECT%%></td>
		<td id="nota_pedido-observaciones-<%%VALUE(numero_guia)%%>" class="nota_pedido-observaciones"><%%SELECT%%><%%VALUE(observaciones)%%><%%ENDSELECT%%></td>
