<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the nota_pedido_init() hook (in hooks/nota_pedido.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="nota_pedido-id-<%%VALUE(numero_guia)%%>" class="nota_pedido-id text-right"><%%VALUE(id)%%></td>
		<td id="nota_pedido-fecha_ingreso-<%%VALUE(numero_guia)%%>" class="nota_pedido-fecha_ingreso"><%%VALUE(fecha_ingreso)%%></td>
		<td id="nota_pedido-numero_guia-<%%VALUE(numero_guia)%%>" class="nota_pedido-numero_guia"><%%VALUE(numero_guia)%%></td>
		<td id="nota_pedido-vendedor-<%%VALUE(numero_guia)%%>" class="nota_pedido-vendedor"><%%VALUE(vendedor)%%></td>
		<td id="nota_pedido-fecha-<%%VALUE(numero_guia)%%>" class="nota_pedido-fecha"><%%VALUE(fecha)%%></td>
		<td id="nota_pedido-cantidad_productos-<%%VALUE(numero_guia)%%>" class="nota_pedido-cantidad_productos text-right"><%%VALUE(cantidad_productos)%%></td>
		<td id="nota_pedido-observaciones-<%%VALUE(numero_guia)%%>" class="nota_pedido-observaciones"><%%VALUE(observaciones)%%></td>
