<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the parroquia_init() hook (in hooks/parroquia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="parroquia-id_pa-<%%VALUE(id_pa)%%>" class="parroquia-id_pa text-right"><%%VALUE(id_pa)%%></td>
		<td id="parroquia-codigo_canton_pa-<%%VALUE(id_pa)%%>" class="parroquia-codigo_canton_pa"><%%VALUE(codigo_canton_pa)%%></td>
		<td id="parroquia-nombre_pa-<%%VALUE(id_pa)%%>" class="parroquia-nombre_pa"><%%VALUE(nombre_pa)%%></td>
