<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: C&#211;DIGO -->
		<div class="form-group producto-codigo_p" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">C&#211;DIGO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(codigo_p)%%></div>
			</div>
		</div>
		<!-- Field: NOMBRE -->
		<div class="form-group producto-nombre_p" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOMBRE</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre_p)%%></div>
			</div>
		</div>
		<!-- Field: TIPO DE PRODUCTO -->
		<div class="form-group producto-tipo_producto_p" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">TIPO DE PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_producto_p<%%RND1%%>"><%%COMBOTEXT(tipo_producto_p)%%></span></div>
			</div>
		</div>
		<!-- Field: PVP -->
		<div class="form-group producto-pvp_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PVP</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pvp_producto)%%></div>
			</div>
		</div>
		<!-- Field: MANEJO SERIE -->
		<div class="form-group producto-manejo_serie" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MANEJO SERIE</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(manejo_serie)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="producto-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=producto-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'producto',
				SelectedID: '<%%VALUE(id_p)%%>',
				Operation: 'show-children-printable'
			},
			'producto-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

