<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_guia_remision_init() hook (in hooks/producto_guia_remision.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_guia_remision-id-<%%VALUE(id)%%>" class="producto_guia_remision-id text-center"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="producto_guia_remision-id_guia_remision-<%%VALUE(id)%%>" class="producto_guia_remision-id_guia_remision text-center"><%%SELECT%%><%%VALUE(id_guia_remision)%%><%%ENDSELECT%%></td>
		<td id="producto_guia_remision-id_producto-<%%VALUE(id)%%>" class="producto_guia_remision-id_producto text-center"><%%SELECT%%><%%VALUE(id_producto)%%><%%ENDSELECT%%></td>
		<td id="producto_guia_remision-codigo_producto-<%%VALUE(id)%%>" class="producto_guia_remision-codigo_producto text-center"><%%SELECT%%><%%VALUE(codigo_producto)%%><%%ENDSELECT%%></td>
		<td id="producto_guia_remision-cantidad-<%%VALUE(id)%%>" class="producto_guia_remision-cantidad text-center"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
		<td id="producto_guia_remision-vendedor-<%%VALUE(id)%%>" class="producto_guia_remision-vendedor"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="producto_guia_remision-mes-<%%VALUE(id)%%>" class="producto_guia_remision-mes"><%%SELECT%%><%%VALUE(mes)%%><%%ENDSELECT%%></td>
		<td id="producto_guia_remision-numero_serie_imei-<%%VALUE(id)%%>" class="producto_guia_remision-numero_serie_imei"><%%SELECT%%><%%VALUE(numero_serie_imei)%%><%%ENDSELECT%%></td>
