<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_init() hook (in hooks/producto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto-id_p-<%%VALUE(id_p)%%>" class="producto-id_p text-right"><%%SELECT%%><%%VALUE(id_p)%%><%%ENDSELECT%%></td>
		<td id="producto-codigo_p-<%%VALUE(id_p)%%>" class="producto-codigo_p"><%%SELECT%%><%%VALUE(codigo_p)%%><%%ENDSELECT%%></td>
		<td id="producto-nombre_p-<%%VALUE(id_p)%%>" class="producto-nombre_p"><%%SELECT%%><%%VALUE(nombre_p)%%><%%ENDSELECT%%></td>
		<td id="producto-tipo_producto_p-<%%VALUE(id_p)%%>" class="producto-tipo_producto_p"><%%SELECT%%><%%VALUE(tipo_producto_p)%%><%%ENDSELECT%%></td>
		<td id="producto-pvp_producto-<%%VALUE(id_p)%%>" class="producto-pvp_producto text-right"><%%SELECT%%><%%VALUE(pvp_producto)%%><%%ENDSELECT%%></td>
		<td id="producto-manejo_serie-<%%VALUE(id_p)%%>" class="producto-manejo_serie"><%%SELECT%%><%%VALUE(manejo_serie)%%><%%ENDSELECT%%></td>
