<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_venta_init() hook (in hooks/producto_venta.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_venta-id-<%%VALUE(id)%%>" class="producto_venta-id text-center"><%%VALUE(id)%%></td>
		<td id="producto_venta-id_venta-<%%VALUE(id)%%>" class="producto_venta-id_venta text-center"><%%VALUE(id_venta)%%></td>
		<td id="producto_venta-id_producto-<%%VALUE(id)%%>" class="producto_venta-id_producto text-center"><%%VALUE(id_producto)%%></td>
		<td id="producto_venta-cantidad-<%%VALUE(id)%%>" class="producto_venta-cantidad text-center"><%%VALUE(cantidad)%%></td>
