<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_venta_init() hook (in hooks/producto_venta.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_venta-id-<%%VALUE(id)%%>" class="producto_venta-id text-center"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="producto_venta-id_venta-<%%VALUE(id)%%>" class="producto_venta-id_venta text-center"><%%SELECT%%><%%VALUE(id_venta)%%><%%ENDSELECT%%></td>
		<td id="producto_venta-id_producto-<%%VALUE(id)%%>" class="producto_venta-id_producto text-center"><%%SELECT%%><%%VALUE(id_producto)%%><%%ENDSELECT%%></td>
		<td id="producto_venta-cantidad-<%%VALUE(id)%%>" class="producto_venta-cantidad text-center"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
