<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_nota_devolucion_init() hook (in hooks/producto_nota_devolucion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_nota_devolucion-id-<%%VALUE(id)%%>" class="producto_nota_devolucion-id text-center"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="producto_nota_devolucion-id_nota_devolucion-<%%VALUE(id)%%>" class="producto_nota_devolucion-id_nota_devolucion text-center"><%%SELECT%%><%%VALUE(id_nota_devolucion)%%><%%ENDSELECT%%></td>
		<td id="producto_nota_devolucion-id_producto-<%%VALUE(id)%%>" class="producto_nota_devolucion-id_producto text-center"><%%SELECT%%><%%VALUE(id_producto)%%><%%ENDSELECT%%></td>
		<td id="producto_nota_devolucion-cantidad-<%%VALUE(id)%%>" class="producto_nota_devolucion-cantidad text-center"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
		<td id="producto_nota_devolucion-numero_serie_imei-<%%VALUE(id)%%>" class="producto_nota_devolucion-numero_serie_imei"><%%SELECT%%><%%VALUE(numero_serie_imei)%%><%%ENDSELECT%%></td>
