<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_init() hook (in hooks/producto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto-id_p-<%%VALUE(id_p)%%>" class="producto-id_p text-right"><%%VALUE(id_p)%%></td>
		<td id="producto-codigo_p-<%%VALUE(id_p)%%>" class="producto-codigo_p"><%%VALUE(codigo_p)%%></td>
		<td id="producto-nombre_p-<%%VALUE(id_p)%%>" class="producto-nombre_p"><%%VALUE(nombre_p)%%></td>
		<td id="producto-tipo_producto_p-<%%VALUE(id_p)%%>" class="producto-tipo_producto_p"><%%VALUE(tipo_producto_p)%%></td>
		<td id="producto-pvp_producto-<%%VALUE(id_p)%%>" class="producto-pvp_producto text-right"><%%VALUE(pvp_producto)%%></td>
		<td id="producto-manejo_serie-<%%VALUE(id_p)%%>" class="producto-manejo_serie"><%%VALUE(manejo_serie)%%></td>
