<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_entrega_mercaderia_init() hook (in hooks/producto_entrega_mercaderia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_entrega_mercaderia-id-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-id text-center"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="producto_entrega_mercaderia-id_entrega_mercaderia-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-id_entrega_mercaderia text-center"><%%SELECT%%><%%VALUE(id_entrega_mercaderia)%%><%%ENDSELECT%%></td>
		<td id="producto_entrega_mercaderia-id_producto-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-id_producto text-center"><%%SELECT%%><%%VALUE(id_producto)%%><%%ENDSELECT%%></td>
		<td id="producto_entrega_mercaderia-codigo_producto-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-codigo_producto text-center"><%%SELECT%%><%%VALUE(codigo_producto)%%><%%ENDSELECT%%></td>
		<td id="producto_entrega_mercaderia-cantidad-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-cantidad text-center"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
		<td id="producto_entrega_mercaderia-vendedor-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-vendedor"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="producto_entrega_mercaderia-mes-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-mes"><%%SELECT%%><%%VALUE(mes)%%><%%ENDSELECT%%></td>
		<td id="producto_entrega_mercaderia-numero_serie_imei-<%%VALUE(id)%%>" class="producto_entrega_mercaderia-numero_serie_imei"><%%SELECT%%><%%VALUE(numero_serie_imei)%%><%%ENDSELECT%%></td>
