<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_nota_pedido_init() hook (in hooks/producto_nota_pedido.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_nota_pedido-id-<%%VALUE(id)%%>" class="producto_nota_pedido-id text-center"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="producto_nota_pedido-id_nota_pedido-<%%VALUE(id)%%>" class="producto_nota_pedido-id_nota_pedido text-center"><%%SELECT%%><%%VALUE(id_nota_pedido)%%><%%ENDSELECT%%></td>
		<td id="producto_nota_pedido-id_producto-<%%VALUE(id)%%>" class="producto_nota_pedido-id_producto text-center"><%%SELECT%%><%%VALUE(id_producto)%%><%%ENDSELECT%%></td>
		<td id="producto_nota_pedido-cantidad-<%%VALUE(id)%%>" class="producto_nota_pedido-cantidad text-center"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
