<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_guia_remision_init() hook (in hooks/producto_guia_remision.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_guia_remision-id-<%%VALUE(id)%%>" class="producto_guia_remision-id text-center"><%%VALUE(id)%%></td>
		<td id="producto_guia_remision-id_guia_remision-<%%VALUE(id)%%>" class="producto_guia_remision-id_guia_remision text-center"><%%VALUE(id_guia_remision)%%></td>
		<td id="producto_guia_remision-id_producto-<%%VALUE(id)%%>" class="producto_guia_remision-id_producto text-center"><%%VALUE(id_producto)%%></td>
		<td id="producto_guia_remision-codigo_producto-<%%VALUE(id)%%>" class="producto_guia_remision-codigo_producto text-center"><%%VALUE(codigo_producto)%%></td>
		<td id="producto_guia_remision-cantidad-<%%VALUE(id)%%>" class="producto_guia_remision-cantidad text-center"><%%VALUE(cantidad)%%></td>
		<td id="producto_guia_remision-vendedor-<%%VALUE(id)%%>" class="producto_guia_remision-vendedor"><%%VALUE(vendedor)%%></td>
		<td id="producto_guia_remision-mes-<%%VALUE(id)%%>" class="producto_guia_remision-mes"><%%VALUE(mes)%%></td>
		<td id="producto_guia_remision-numero_serie_imei-<%%VALUE(id)%%>" class="producto_guia_remision-numero_serie_imei"><%%VALUE(numero_serie_imei)%%></td>
