<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group producto_guia_remision-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: GUIA DE REMISION -->
		<div class="form-group producto_guia_remision-id_guia_remision" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">GUIA DE REMISION</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_guia_remision)%%></div>
			</div>
		</div>
		<!-- Field: PRODUCTO -->
		<div class="form-group producto_guia_remision-id_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_producto<%%RND1%%>"><%%COMBOTEXT(id_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: CODIGO PRODUCTO -->
		<div class="form-group producto_guia_remision-codigo_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CODIGO PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="codigo_producto<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: CANTIDAD -->
		<div class="form-group producto_guia_remision-cantidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CANTIDAD</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad)%%></div>
			</div>
		</div>
		<!-- Field: VENDEDOR -->
		<div class="form-group producto_guia_remision-vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VENDEDOR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vendedor<%%RND1%%>"><%%COMBOTEXT(vendedor)%%></span></div>
			</div>
		</div>
		<!-- Field: MES -->
		<div class="form-group producto_guia_remision-mes" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MES</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(mes)%%></div>
			</div>
		</div>
		<!-- Field: NUMERO SERIE IMEI -->
		<div class="form-group producto_guia_remision-numero_serie_imei" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NUMERO SERIE IMEI</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(numero_serie_imei)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
