<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the producto_nota_devolucion_init() hook (in hooks/producto_nota_devolucion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="producto_nota_devolucion-id-<%%VALUE(id)%%>" class="producto_nota_devolucion-id text-center"><%%VALUE(id)%%></td>
		<td id="producto_nota_devolucion-id_nota_devolucion-<%%VALUE(id)%%>" class="producto_nota_devolucion-id_nota_devolucion text-center"><%%VALUE(id_nota_devolucion)%%></td>
		<td id="producto_nota_devolucion-id_producto-<%%VALUE(id)%%>" class="producto_nota_devolucion-id_producto text-center"><%%VALUE(id_producto)%%></td>
		<td id="producto_nota_devolucion-cantidad-<%%VALUE(id)%%>" class="producto_nota_devolucion-cantidad text-center"><%%VALUE(cantidad)%%></td>
		<td id="producto_nota_devolucion-numero_serie_imei-<%%VALUE(id)%%>" class="producto_nota_devolucion-numero_serie_imei"><%%VALUE(numero_serie_imei)%%></td>
