<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the provincia_init() hook (in hooks/provincia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="provincia-id_pr-<%%VALUE(id_pr)%%>" class="provincia-id_pr text-right"><%%SELECT%%><%%VALUE(id_pr)%%><%%ENDSELECT%%></td>
		<td id="provincia-nombre_pr-<%%VALUE(id_pr)%%>" class="provincia-nombre_pr"><%%SELECT%%><%%VALUE(nombre_pr)%%><%%ENDSELECT%%></td>
