<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the provincia_init() hook (in hooks/provincia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="provincia-id_pr-<%%VALUE(id_pr)%%>" class="provincia-id_pr text-right"><%%VALUE(id_pr)%%></td>
		<td id="provincia-nombre_pr-<%%VALUE(id_pr)%%>" class="provincia-nombre_pr"><%%VALUE(nombre_pr)%%></td>
