<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ruc_init() hook (in hooks/ruc.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ruc-id_ruc-<%%VALUE(id_ruc)%%>" class="ruc-id_ruc text-right"><%%VALUE(id_ruc)%%></td>
		<td id="ruc-nombre_ruc-<%%VALUE(id_ruc)%%>" class="ruc-nombre_ruc"><%%VALUE(nombre_ruc)%%></td>
		<td id="ruc-numero_ruc-<%%VALUE(id_ruc)%%>" class="ruc-numero_ruc"><%%VALUE(numero_ruc)%%></td>
