<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ruc_init() hook (in hooks/ruc.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ruc-id_ruc-<%%VALUE(id_ruc)%%>" class="ruc-id_ruc text-right"><%%SELECT%%><%%VALUE(id_ruc)%%><%%ENDSELECT%%></td>
		<td id="ruc-nombre_ruc-<%%VALUE(id_ruc)%%>" class="ruc-nombre_ruc"><%%SELECT%%><%%VALUE(nombre_ruc)%%><%%ENDSELECT%%></td>
		<td id="ruc-numero_ruc-<%%VALUE(id_ruc)%%>" class="ruc-numero_ruc"><%%SELECT%%><%%VALUE(numero_ruc)%%><%%ENDSELECT%%></td>
