<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the stock_general_init() hook (in hooks/stock_general.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="stock_general-fecha_ingreso-<%%VALUE(id)%%>" class="stock_general-fecha_ingreso text-center"><%%VALUE(fecha_ingreso)%%></td>
		<td id="stock_general-vendedor-<%%VALUE(id)%%>" class="stock_general-vendedor text-center"><%%VALUE(vendedor)%%></td>
		<td id="stock_general-ano-<%%VALUE(id)%%>" class="stock_general-ano text-center"><%%VALUE(ano)%%></td>
		<td id="stock_general-mes-<%%VALUE(id)%%>" class="stock_general-mes text-center"><%%VALUE(mes)%%></td>
		<td id="stock_general-codigo_producto-<%%VALUE(id)%%>" class="stock_general-codigo_producto text-center"><%%VALUE(codigo_producto)%%></td>
		<td id="stock_general-tipo_producto-<%%VALUE(id)%%>" class="stock_general-tipo_producto text-center"><%%VALUE(tipo_producto)%%></td>
		<td id="stock_general-nombre_producto-<%%VALUE(id)%%>" class="stock_general-nombre_producto text-center"><%%VALUE(nombre_producto)%%></td>
		<td id="stock_general-cantidad-<%%VALUE(id)%%>" class="stock_general-cantidad text-center"><%%VALUE(cantidad)%%></td>
		<td id="stock_general-pvp-<%%VALUE(id)%%>" class="stock_general-pvp text-center"><%%VALUE(pvp)%%></td>
