<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the stock_general_init() hook (in hooks/stock_general.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="stock_general-fecha_ingreso-<%%VALUE(id)%%>" class="stock_general-fecha_ingreso text-center"><%%SELECT%%><%%VALUE(fecha_ingreso)%%><%%ENDSELECT%%></td>
		<td id="stock_general-vendedor-<%%VALUE(id)%%>" class="stock_general-vendedor text-center"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="stock_general-ano-<%%VALUE(id)%%>" class="stock_general-ano text-center"><%%SELECT%%><%%VALUE(ano)%%><%%ENDSELECT%%></td>
		<td id="stock_general-mes-<%%VALUE(id)%%>" class="stock_general-mes text-center"><%%SELECT%%><%%VALUE(mes)%%><%%ENDSELECT%%></td>
		<td id="stock_general-codigo_producto-<%%VALUE(id)%%>" class="stock_general-codigo_producto text-center"><%%SELECT%%><%%VALUE(codigo_producto)%%><%%ENDSELECT%%></td>
		<td id="stock_general-tipo_producto-<%%VALUE(id)%%>" class="stock_general-tipo_producto text-center"><%%SELECT%%><%%VALUE(tipo_producto)%%><%%ENDSELECT%%></td>
		<td id="stock_general-nombre_producto-<%%VALUE(id)%%>" class="stock_general-nombre_producto text-center"><%%SELECT%%><%%VALUE(nombre_producto)%%><%%ENDSELECT%%></td>
		<td id="stock_general-cantidad-<%%VALUE(id)%%>" class="stock_general-cantidad text-center"><%%SELECT%%><%%VALUE(cantidad)%%><%%ENDSELECT%%></td>
		<td id="stock_general-pvp-<%%VALUE(id)%%>" class="stock_general-pvp text-center"><%%SELECT%%><%%VALUE(pvp)%%><%%ENDSELECT%%></td>
