<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Fecha Ingreso -->
		<div class="form-group stock_general-fecha_ingreso" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha Ingreso</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_ingreso)%%></div>
			</div>
		</div>
		<!-- Field: VENDEDOR -->
		<div class="form-group stock_general-vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VENDEDOR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vendedor<%%RND1%%>"><%%COMBOTEXT(vendedor)%%></span></div>
			</div>
		</div>
		<!-- Field: A&#209;O -->
		<div class="form-group stock_general-ano" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">A&#209;O</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(ano)%%></div>
			</div>
		</div>
		<!-- Field: MES -->
		<div class="form-group stock_general-mes" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MES</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(mes)%%></div>
			</div>
		</div>
		<!-- Field: C&#211;DIGO PRODUCTO -->
		<div class="form-group stock_general-codigo_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">C&#211;DIGO PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="codigo_producto<%%RND1%%>"><%%COMBOTEXT(codigo_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: TIPO PRODUCTO -->
		<div class="form-group stock_general-tipo_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">TIPO PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_producto<%%RND1%%>"><%%COMBOTEXT(tipo_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: NOMBRE PRODUCTO -->
		<div class="form-group stock_general-nombre_producto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOMBRE PRODUCTO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="nombre_producto<%%RND1%%>"><%%COMBOTEXT(nombre_producto)%%></span></div>
			</div>
		</div>
		<!-- Field: CANTIDAD -->
		<div class="form-group stock_general-cantidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CANTIDAD</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad)%%></div>
			</div>
		</div>
		<!-- Field: PVP -->
		<div class="form-group stock_general-pvp" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PVP</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pvp)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
