<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_venta_init() hook (in hooks/tipo_venta.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_venta-id_tipo_venta-<%%VALUE(id_tipo_venta)%%>" class="tipo_venta-id_tipo_venta text-right"><%%SELECT%%><%%VALUE(id_tipo_venta)%%><%%ENDSELECT%%></td>
		<td id="tipo_venta-nombre_tipo_venta-<%%VALUE(id_tipo_venta)%%>" class="tipo_venta-nombre_tipo_venta"><%%SELECT%%><%%VALUE(nombre_tipo_venta)%%><%%ENDSELECT%%></td>
