<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_movimiento_init() hook (in hooks/tipo_movimiento.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_movimiento-id-<%%VALUE(id)%%>" class="tipo_movimiento-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="tipo_movimiento-nombre-<%%VALUE(id)%%>" class="tipo_movimiento-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
