<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_producto_init() hook (in hooks/tipo_producto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_producto-id_tp-<%%VALUE(id_tp)%%>" class="tipo_producto-id_tp text-right"><%%VALUE(id_tp)%%></td>
		<td id="tipo_producto-nombre_tp-<%%VALUE(id_tp)%%>" class="tipo_producto-nombre_tp"><%%VALUE(nombre_tp)%%></td>
