<!-- To change the layout of the detail view form, we recommend using JS code in hooks/vendedor-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="vendedor_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="vendedor_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<input type="hidden" id="ventas_hclink" value="ventas_view.php?filterer_vendedor=<%%URLVALUE(id_vendedor)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="nota_pedido_hclink" value="nota_pedido_view.php?filterer_vendedor=<%%URLVALUE(id_vendedor)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="nota_devolucion_hclink" value="nota_devolucion_view.php?filterer_vendedor=<%%URLVALUE(id_vendedor)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="stock_general_hclink" value="stock_general_view.php?filterer_vendedor=<%%URLVALUE(id_vendedor)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="control_stock_hclink" value="control_stock_view.php?filterer_vendedor=<%%URLVALUE(id_vendedor)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="guia_remision_hclink" value="guia_remision_view.php?filterer_vendedor=<%%URLVALUE(id_vendedor)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="producto_guia_remision_hclink" value="producto_guia_remision_view.php?filterer_vendedor=<%%URLVALUE(id_vendedor)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="vendedor_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group vendedor-id_vendedor">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id_vendedor">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id_vendedor"><%%VALUE(id_vendedor)%%></div>
					</div>
				</div>

				<!-- Field: USER -->
				<div class="form-group vendedor-user">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="user">USER</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="user" id="user" value="<%%VALUE(user)%%>">
					</div>
				</div>

				<!-- Field: NOMBRE -->
				<div class="form-group vendedor-nombre">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nombre">NOMBRE</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="nombre" id="nombre" value="<%%VALUE(nombre)%%>">
					</div>
				</div>

				<!-- Field: APELLIDO -->
				<div class="form-group vendedor-apellido">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="apellido">APELLIDO</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="apellido" id="apellido" value="<%%VALUE(apellido)%%>">
					</div>
				</div>

				<!-- Field: EMAIL PERSONAL -->
				<div class="form-group vendedor-email_personal">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email_personal">EMAIL PERSONAL</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="email_personal" id="email_personal" value="<%%VALUE(email_personal)%%>">
					</div>
				</div>

				<!-- Field: EMAIL TRABAJO -->
				<div class="form-group vendedor-email_trabajo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email_trabajo">EMAIL TRABAJO</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="email_trabajo" id="email_trabajo" value="<%%VALUE(email_trabajo)%%>">
					</div>
				</div>

				<!-- Field: CEDULA -->
				<div class="form-group vendedor-cedula">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cedula">CEDULA</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="cedula" id="cedula" value="<%%VALUE(cedula)%%>">
					</div>
				</div>

				<!-- Field: CELULAR -->
				<div class="form-group vendedor-celular">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="celular">CELULAR</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="celular" id="celular" value="<%%VALUE(celular)%%>">
					</div>
				</div>

				<!-- Field: TEL&#201;FONO -->
				<div class="form-group vendedor-telefono">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="telefono">TEL&#201;FONO</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="telefono" id="telefono" value="<%%VALUE(telefono)%%>">
					</div>
				</div>

				<!-- Field: APROBADO -->
				<div class="form-group vendedor-aprobado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="aprobado">APROBADO</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="aprobado" id="aprobado" value="<%%VALUE(aprobado)%%>">
					</div>
				</div>

				<!-- Field: FECHA REGISTRO -->
				<div class="form-group vendedor-fecha_registro">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">FECHA REGISTRO</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="fecha_registro"><%%VALUE(fecha_registro)%%></div>
					</div>
				</div>

				<!-- Field: CODIGO LEAD -->
				<div class="form-group vendedor-codigo_lead">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="codigo_lead">CODIGO LEAD</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="codigo_lead" id="codigo_lead" value="<%%VALUE(codigo_lead)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="vendedor_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="vendedor-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#vendedor_dv_container-loading').addClass('hidden');
			$j('#vendedor_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('vendedor', 'user');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'vendedor',
						SelectedID: '<%%VALUE(id_vendedor)%%>',
						Operation: 'show-children'
					},
					'vendedor-children'
				);
			}

			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'vendedor',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=vendedor&id=<%%URLVALUE(id_vendedor)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=vendedor&id=<%%URLVALUE(id_vendedor)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>