<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the vendedor_init() hook (in hooks/vendedor.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="vendedor-id_vendedor-<%%VALUE(id_vendedor)%%>" class="vendedor-id_vendedor text-right"><%%SELECT%%><%%VALUE(id_vendedor)%%><%%ENDSELECT%%></td>
		<td id="vendedor-user-<%%VALUE(id_vendedor)%%>" class="vendedor-user"><%%SELECT%%><%%VALUE(user)%%><%%ENDSELECT%%></td>
		<td id="vendedor-nombre-<%%VALUE(id_vendedor)%%>" class="vendedor-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="vendedor-apellido-<%%VALUE(id_vendedor)%%>" class="vendedor-apellido"><%%SELECT%%><%%VALUE(apellido)%%><%%ENDSELECT%%></td>
		<td id="vendedor-email_personal-<%%VALUE(id_vendedor)%%>" class="vendedor-email_personal"><%%SELECT%%><%%VALUE(email_personal)%%><%%ENDSELECT%%></td>
		<td id="vendedor-email_trabajo-<%%VALUE(id_vendedor)%%>" class="vendedor-email_trabajo"><%%SELECT%%><%%VALUE(email_trabajo)%%><%%ENDSELECT%%></td>
		<td id="vendedor-cedula-<%%VALUE(id_vendedor)%%>" class="vendedor-cedula"><%%SELECT%%><%%VALUE(cedula)%%><%%ENDSELECT%%></td>
		<td id="vendedor-celular-<%%VALUE(id_vendedor)%%>" class="vendedor-celular"><%%SELECT%%><%%VALUE(celular)%%><%%ENDSELECT%%></td>
		<td id="vendedor-telefono-<%%VALUE(id_vendedor)%%>" class="vendedor-telefono"><%%SELECT%%><%%VALUE(telefono)%%><%%ENDSELECT%%></td>
		<td id="vendedor-aprobado-<%%VALUE(id_vendedor)%%>" class="vendedor-aprobado"><%%SELECT%%><%%VALUE(aprobado)%%><%%ENDSELECT%%></td>
		<td id="vendedor-fecha_registro-<%%VALUE(id_vendedor)%%>" class="vendedor-fecha_registro"><%%SELECT%%><%%VALUE(fecha_registro)%%><%%ENDSELECT%%></td>
		<td id="vendedor-codigo_lead-<%%VALUE(id_vendedor)%%>" class="vendedor-codigo_lead"><%%SELECT%%><%%VALUE(codigo_lead)%%><%%ENDSELECT%%></td>
