<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the vendedor_init() hook (in hooks/vendedor.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="vendedor-id_vendedor-<%%VALUE(id_vendedor)%%>" class="vendedor-id_vendedor text-right"><%%VALUE(id_vendedor)%%></td>
		<td id="vendedor-user-<%%VALUE(id_vendedor)%%>" class="vendedor-user"><%%VALUE(user)%%></td>
		<td id="vendedor-nombre-<%%VALUE(id_vendedor)%%>" class="vendedor-nombre"><%%VALUE(nombre)%%></td>
		<td id="vendedor-apellido-<%%VALUE(id_vendedor)%%>" class="vendedor-apellido"><%%VALUE(apellido)%%></td>
		<td id="vendedor-email_personal-<%%VALUE(id_vendedor)%%>" class="vendedor-email_personal"><%%VALUE(email_personal)%%></td>
		<td id="vendedor-email_trabajo-<%%VALUE(id_vendedor)%%>" class="vendedor-email_trabajo"><%%VALUE(email_trabajo)%%></td>
		<td id="vendedor-cedula-<%%VALUE(id_vendedor)%%>" class="vendedor-cedula"><%%VALUE(cedula)%%></td>
		<td id="vendedor-celular-<%%VALUE(id_vendedor)%%>" class="vendedor-celular"><%%VALUE(celular)%%></td>
		<td id="vendedor-telefono-<%%VALUE(id_vendedor)%%>" class="vendedor-telefono"><%%VALUE(telefono)%%></td>
		<td id="vendedor-aprobado-<%%VALUE(id_vendedor)%%>" class="vendedor-aprobado"><%%VALUE(aprobado)%%></td>
		<td id="vendedor-fecha_registro-<%%VALUE(id_vendedor)%%>" class="vendedor-fecha_registro"><%%VALUE(fecha_registro)%%></td>
		<td id="vendedor-codigo_lead-<%%VALUE(id_vendedor)%%>" class="vendedor-codigo_lead"><%%VALUE(codigo_lead)%%></td>
