<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group vendedor-id_vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_vendedor)%%></div>
			</div>
		</div>
		<!-- Field: USER -->
		<div class="form-group vendedor-user" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">USER</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(user)%%></div>
			</div>
		</div>
		<!-- Field: NOMBRE -->
		<div class="form-group vendedor-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOMBRE</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: APELLIDO -->
		<div class="form-group vendedor-apellido" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">APELLIDO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(apellido)%%></div>
			</div>
		</div>
		<!-- Field: EMAIL PERSONAL -->
		<div class="form-group vendedor-email_personal" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">EMAIL PERSONAL</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email_personal)%%></div>
			</div>
		</div>
		<!-- Field: EMAIL TRABAJO -->
		<div class="form-group vendedor-email_trabajo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">EMAIL TRABAJO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email_trabajo)%%></div>
			</div>
		</div>
		<!-- Field: CEDULA -->
		<div class="form-group vendedor-cedula" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CEDULA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cedula)%%></div>
			</div>
		</div>
		<!-- Field: CELULAR -->
		<div class="form-group vendedor-celular" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CELULAR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(celular)%%></div>
			</div>
		</div>
		<!-- Field: TEL&#201;FONO -->
		<div class="form-group vendedor-telefono" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">TEL&#201;FONO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono)%%></div>
			</div>
		</div>
		<!-- Field: APROBADO -->
		<div class="form-group vendedor-aprobado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">APROBADO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(aprobado)%%></div>
			</div>
		</div>
		<!-- Field: FECHA REGISTRO -->
		<div class="form-group vendedor-fecha_registro" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA REGISTRO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_registro)%%></div>
			</div>
		</div>
		<!-- Field: CODIGO LEAD -->
		<div class="form-group vendedor-codigo_lead" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CODIGO LEAD</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(codigo_lead)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="vendedor-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=vendedor-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'vendedor',
				SelectedID: '<%%VALUE(id_vendedor)%%>',
				Operation: 'show-children-printable'
			},
			'vendedor-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

