<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ventas_init() hook (in hooks/ventas.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ventas-id-<%%VALUE(numero_contrato)%%>" class="ventas-id text-right"><%%VALUE(id)%%></td>
		<td id="ventas-vendedor-<%%VALUE(numero_contrato)%%>" class="ventas-vendedor"><%%VALUE(vendedor)%%></td>
		<td id="ventas-fecha_ingreso-<%%VALUE(numero_contrato)%%>" class="ventas-fecha_ingreso"><%%VALUE(fecha_ingreso)%%></td>
		<td id="ventas-fecha-<%%VALUE(numero_contrato)%%>" class="ventas-fecha"><%%VALUE(fecha)%%></td>
		<td id="ventas-numero_contrato-<%%VALUE(numero_contrato)%%>" class="ventas-numero_contrato"><%%VALUE(numero_contrato)%%></td>
		<td id="ventas-cedula-<%%VALUE(numero_contrato)%%>" class="ventas-cedula"><%%VALUE(cedula)%%></td>
		<td id="ventas-nombre-<%%VALUE(numero_contrato)%%>" class="ventas-nombre"><%%VALUE(nombre)%%></td>
		<td id="ventas-mes_comision_venta-<%%VALUE(numero_contrato)%%>" class="ventas-mes_comision_venta"><%%VALUE(mes_comision_venta)%%></td>
		<td id="ventas-valor_contrato-<%%VALUE(numero_contrato)%%>" class="ventas-valor_contrato text-right"><%%VALUE(valor_contrato)%%></td>
		<td id="ventas-pvp-<%%VALUE(numero_contrato)%%>" class="ventas-pvp text-right"><%%VALUE(pvp)%%></td>
		<td id="ventas-a_medias-<%%VALUE(numero_contrato)%%>" class="ventas-a_medias"><%%VALUE(a_medias)%%></td>
		<td id="ventas-dependencia_laboral-<%%VALUE(numero_contrato)%%>" class="ventas-dependencia_laboral"><%%VALUE(dependencia_laboral)%%></td>
		<td id="ventas-aprobaciones-<%%VALUE(numero_contrato)%%>" class="ventas-aprobaciones"><%%VALUE(aprobaciones)%%></td>
		<td id="ventas-cobro_particular-<%%VALUE(numero_contrato)%%>" class="ventas-cobro_particular"><%%VALUE(cobro_particular)%%></td>
		<td id="ventas-entrega_cedula-<%%VALUE(numero_contrato)%%>" class="ventas-entrega_cedula"><%%VALUE(entrega_cedula)%%></td>
		<td id="ventas-cuotas-<%%VALUE(numero_contrato)%%>" class="ventas-cuotas text-right"><%%VALUE(cuotas)%%></td>
		<td id="ventas-valor_cuota-<%%VALUE(numero_contrato)%%>" class="ventas-valor_cuota text-right"><%%VALUE(valor_cuota)%%></td>
		<td id="ventas-cantidad_productos-<%%VALUE(numero_contrato)%%>" class="ventas-cantidad_productos text-right"><%%VALUE(cantidad_productos)%%></td>
		<td id="ventas-provincia-<%%VALUE(numero_contrato)%%>" class="ventas-provincia"><%%VALUE(provincia)%%></td>
		<td id="ventas-canton-<%%VALUE(numero_contrato)%%>" class="ventas-canton"><%%VALUE(canton)%%></td>
		<td id="ventas-parroquia-<%%VALUE(numero_contrato)%%>" class="ventas-parroquia"><%%VALUE(parroquia)%%></td>
		<td id="ventas-categorias_descripcion-<%%VALUE(numero_contrato)%%>" class="ventas-categorias_descripcion"><%%VALUE(categorias_descripcion)%%></td>
		<td id="ventas-tipo_venta-<%%VALUE(numero_contrato)%%>" class="ventas-tipo_venta"><%%VALUE(tipo_venta)%%></td>
