<!-- To change the layout of the detail view form, we recommend using JS code in hooks/ventas-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="ventas_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="ventas_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<input type="hidden" id="producto_venta_hclink" value="producto_venta_view.php?filterer_id_venta=<%%URLVALUE(numero_contrato)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="ventas_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: VENDEDOR -->
				<div class="form-group ventas-vendedor">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="vendedor" data-parent_link="view_parent_modal">VENDEDOR<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(vendedor)%%><%%PLINK(vendedor)%%><%%ADDNEW(vendedor)%%></div>
					</div>
				</div>

				<!-- Field: FECHA -->
				<div class="form-group ventas-fecha">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha-dd">FECHA<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fecha-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="fecha-description"><div class="alert alert-info bspacer-xs">FECHA NECESITADA</div></span>
						<%%COMBO(fecha)%%>
					</div>
				</div>

				<!-- Field: NUMERO CONTRATO -->
				<div class="form-group ventas-numero_contrato">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="numero_contrato">NUMERO CONTRATO</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="numero_contrato" id="numero_contrato" value="<%%VALUE(numero_contrato)%%>" required>
					</div>
				</div>

				<!-- Field: C&#201;DULA -->
				<div class="form-group ventas-cedula">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cedula">C&#201;DULA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="cedula" id="cedula" value="<%%VALUE(cedula)%%>" required>
					</div>
				</div>

				<!-- Field: NOMBRE -->
				<div class="form-group ventas-nombre">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nombre">NOMBRE<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="nombre" id="nombre" value="<%%VALUE(nombre)%%>" required>
					</div>
				</div>

				<!-- Field: MES COMISI&#211;N VENTA -->
				<div class="form-group ventas-mes_comision_venta">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="mes_comision_venta">MES COMISI&#211;N VENTA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(mes_comision_venta)%%>
					</div>
				</div>

				<!-- Field: VALOR CONTRATO -->
				<div class="form-group ventas-valor_contrato">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="valor_contrato">VALOR CONTRATO<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="valor_contrato" id="valor_contrato" value="<%%VALUE(valor_contrato)%%>" required>
					</div>
				</div>

				<!-- Field: P.V.P -->
				<div class="form-group ventas-pvp">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="pvp">P.V.P<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="pvp" id="pvp" value="<%%VALUE(pvp)%%>" required>
					</div>
				</div>

				<!-- Field: A MEDIAS -->
				<div class="form-group ventas-a_medias">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="a_medias" data-parent_link="view_parent_modal">A MEDIAS</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(a_medias)%%><%%PLINK(a_medias)%%><%%ADDNEW(vendedor)%%></div>
					</div>
				</div>

				<!-- Field: DEPENDENCIA LABORAL -->
				<div class="form-group ventas-dependencia_laboral">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="dependencia_laboral" data-parent_link="view_parent_modal">DEPENDENCIA LABORAL<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(dependencia_laboral)%%><%%PLINK(dependencia_laboral)%%><%%ADDNEW(dependencia_laboral)%%></div>
					</div>
				</div>

				<!-- Field: APROBACIONES -->
				<div class="form-group ventas-aprobaciones">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="aprobaciones" data-parent_link="view_parent_modal">APROBACIONES<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(aprobaciones)%%><%%PLINK(aprobaciones)%%><%%ADDNEW(aprobaciones)%%></div>
					</div>
				</div>

				<!-- Field: COBRO PARTICULAR -->
				<div class="form-group ventas-cobro_particular">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">COBRO PARTICULAR<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(cobro_particular)%%>
					</div>
				</div>

				<!-- Field: ENTREGA CEDULA -->
				<div class="form-group ventas-entrega_cedula">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">ENTREGA CEDULA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(entrega_cedula)%%>
					</div>
				</div>

				<!-- Field: N&#218;MERO DE CUOTAS -->
				<div class="form-group ventas-cuotas">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cuotas">N&#218;MERO DE CUOTAS<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input type="text" class="form-control" name="cuotas" id="cuotas" value="<%%VALUE(cuotas)%%>" required>
					</div>
				</div>

				<!-- Field: VALOR CUOTA -->
				<div class="form-group ventas-valor_cuota">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="valor_cuota">VALOR CUOTA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="valor_cuota" id="valor_cuota" value="<%%VALUE(valor_cuota)%%>" required>
					</div>
				</div>

				<!-- Field: CANTIDAD ITEMS -->
				<div class="form-group ventas-cantidad_productos">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cantidad_productos">CANTIDAD ITEMS<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input type="text" class="form-control" name="cantidad_productos" id="cantidad_productos" value="<%%VALUE(cantidad_productos)%%>" required>
					</div>
				</div>

				<!-- Field: PROVINCIA -->
				<div class="form-group ventas-provincia">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="provincia" data-parent_link="view_parent_modal">PROVINCIA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(provincia)%%><%%PLINK(provincia)%%><%%ADDNEW(provincia)%%></div>
					</div>
				</div>

				<!-- Field: CANTON -->
				<div class="form-group ventas-canton">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="canton" data-parent_link="view_parent_modal">CANTON<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(canton)%%><%%PLINK(canton)%%><%%ADDNEW(canton)%%></div>
					</div>
				</div>

				<!-- Field: PARROQUIA -->
				<div class="form-group ventas-parroquia">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="parroquia" data-parent_link="view_parent_modal">PARROQUIA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(parroquia)%%><%%PLINK(parroquia)%%><%%ADDNEW(parroquia)%%></div>
					</div>
				</div>

				<!-- Field: TIPO VENTA -->
				<div class="form-group ventas-tipo_venta">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tipo_venta" data-parent_link="view_parent_modal">TIPO VENTA<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(tipo_venta)%%><%%PLINK(tipo_venta)%%><%%ADDNEW(tipo_venta)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="ventas_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="ventas-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.ventas-vendedor')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0;
					},
					action: function() {
						$j('#ventas_dv_container-loading').addClass('hidden');
						$j('#ventas_dv_container').removeClass('hidden');
						AppGini.focusFormElement('ventas', 'vendedor');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#ventas_dv_container-loading').addClass('hidden');
				$j('#ventas_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'ventas',
						SelectedID: '<%%VALUE(numero_contrato)%%>',
						Operation: 'show-children'
					},
					'ventas-children'
				);
			}

			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'ventas',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=ventas&id=<%%URLVALUE(numero_contrato)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=ventas&id=<%%URLVALUE(numero_contrato)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>