<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ventas_init() hook (in hooks/ventas.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ventas-id-<%%VALUE(numero_contrato)%%>" class="ventas-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="ventas-vendedor-<%%VALUE(numero_contrato)%%>" class="ventas-vendedor"><%%SELECT%%><%%VALUE(vendedor)%%><%%ENDSELECT%%></td>
		<td id="ventas-fecha_ingreso-<%%VALUE(numero_contrato)%%>" class="ventas-fecha_ingreso"><%%SELECT%%><%%VALUE(fecha_ingreso)%%><%%ENDSELECT%%></td>
		<td id="ventas-fecha-<%%VALUE(numero_contrato)%%>" class="ventas-fecha"><%%SELECT%%><%%VALUE(fecha)%%><%%ENDSELECT%%></td>
		<td id="ventas-numero_contrato-<%%VALUE(numero_contrato)%%>" class="ventas-numero_contrato"><%%SELECT%%><%%VALUE(numero_contrato)%%><%%ENDSELECT%%></td>
		<td id="ventas-cedula-<%%VALUE(numero_contrato)%%>" class="ventas-cedula"><%%SELECT%%><%%VALUE(cedula)%%><%%ENDSELECT%%></td>
		<td id="ventas-nombre-<%%VALUE(numero_contrato)%%>" class="ventas-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="ventas-mes_comision_venta-<%%VALUE(numero_contrato)%%>" class="ventas-mes_comision_venta"><%%SELECT%%><%%VALUE(mes_comision_venta)%%><%%ENDSELECT%%></td>
		<td id="ventas-valor_contrato-<%%VALUE(numero_contrato)%%>" class="ventas-valor_contrato text-right"><%%SELECT%%><%%VALUE(valor_contrato)%%><%%ENDSELECT%%></td>
		<td id="ventas-pvp-<%%VALUE(numero_contrato)%%>" class="ventas-pvp text-right"><%%SELECT%%><%%VALUE(pvp)%%><%%ENDSELECT%%></td>
		<td id="ventas-a_medias-<%%VALUE(numero_contrato)%%>" class="ventas-a_medias"><%%SELECT%%><%%VALUE(a_medias)%%><%%ENDSELECT%%></td>
		<td id="ventas-dependencia_laboral-<%%VALUE(numero_contrato)%%>" class="ventas-dependencia_laboral"><%%SELECT%%><%%VALUE(dependencia_laboral)%%><%%ENDSELECT%%></td>
		<td id="ventas-aprobaciones-<%%VALUE(numero_contrato)%%>" class="ventas-aprobaciones"><%%SELECT%%><%%VALUE(aprobaciones)%%><%%ENDSELECT%%></td>
		<td id="ventas-cobro_particular-<%%VALUE(numero_contrato)%%>" class="ventas-cobro_particular"><%%SELECT%%><%%VALUE(cobro_particular)%%><%%ENDSELECT%%></td>
		<td id="ventas-entrega_cedula-<%%VALUE(numero_contrato)%%>" class="ventas-entrega_cedula"><%%SELECT%%><%%VALUE(entrega_cedula)%%><%%ENDSELECT%%></td>
		<td id="ventas-cuotas-<%%VALUE(numero_contrato)%%>" class="ventas-cuotas text-right"><%%SELECT%%><%%VALUE(cuotas)%%><%%ENDSELECT%%></td>
		<td id="ventas-valor_cuota-<%%VALUE(numero_contrato)%%>" class="ventas-valor_cuota text-right"><%%SELECT%%><%%VALUE(valor_cuota)%%><%%ENDSELECT%%></td>
		<td id="ventas-cantidad_productos-<%%VALUE(numero_contrato)%%>" class="ventas-cantidad_productos text-right"><%%SELECT%%><%%VALUE(cantidad_productos)%%><%%ENDSELECT%%></td>
		<td id="ventas-provincia-<%%VALUE(numero_contrato)%%>" class="ventas-provincia"><%%SELECT%%><%%VALUE(provincia)%%><%%ENDSELECT%%></td>
		<td id="ventas-canton-<%%VALUE(numero_contrato)%%>" class="ventas-canton"><%%SELECT%%><%%VALUE(canton)%%><%%ENDSELECT%%></td>
		<td id="ventas-parroquia-<%%VALUE(numero_contrato)%%>" class="ventas-parroquia"><%%SELECT%%><%%VALUE(parroquia)%%><%%ENDSELECT%%></td>
		<td id="ventas-categorias_descripcion-<%%VALUE(numero_contrato)%%>" class="ventas-categorias_descripcion"><%%SELECT%%><%%VALUE(categorias_descripcion)%%><%%ENDSELECT%%></td>
		<td id="ventas-tipo_venta-<%%VALUE(numero_contrato)%%>" class="ventas-tipo_venta"><%%SELECT%%><%%VALUE(tipo_venta)%%><%%ENDSELECT%%></td>
