<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: VENDEDOR -->
		<div class="form-group ventas-vendedor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VENDEDOR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vendedor<%%RND1%%>"><%%COMBOTEXT(vendedor)%%></span></div>
			</div>
		</div>
		<!-- Field: FECHA -->
		<div class="form-group ventas-fecha" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">FECHA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha)%%></div>
			</div>
		</div>
		<!-- Field: NUMERO CONTRATO -->
		<div class="form-group ventas-numero_contrato" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NUMERO CONTRATO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(numero_contrato)%%></div>
			</div>
		</div>
		<!-- Field: C&#201;DULA -->
		<div class="form-group ventas-cedula" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">C&#201;DULA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cedula)%%></div>
			</div>
		</div>
		<!-- Field: NOMBRE -->
		<div class="form-group ventas-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">NOMBRE</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: MES COMISI&#211;N VENTA -->
		<div class="form-group ventas-mes_comision_venta" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MES COMISI&#211;N VENTA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(mes_comision_venta)%%></div>
			</div>
		</div>
		<!-- Field: VALOR CONTRATO -->
		<div class="form-group ventas-valor_contrato" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VALOR CONTRATO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(valor_contrato)%%></div>
			</div>
		</div>
		<!-- Field: P.V.P -->
		<div class="form-group ventas-pvp" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">P.V.P</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pvp)%%></div>
			</div>
		</div>
		<!-- Field: A MEDIAS -->
		<div class="form-group ventas-a_medias" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">A MEDIAS</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="a_medias<%%RND1%%>"><%%COMBOTEXT(a_medias)%%></span></div>
			</div>
		</div>
		<!-- Field: DEPENDENCIA LABORAL -->
		<div class="form-group ventas-dependencia_laboral" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">DEPENDENCIA LABORAL</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="dependencia_laboral<%%RND1%%>"><%%COMBOTEXT(dependencia_laboral)%%></span></div>
			</div>
		</div>
		<!-- Field: APROBACIONES -->
		<div class="form-group ventas-aprobaciones" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">APROBACIONES</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="aprobaciones<%%RND1%%>"><%%COMBOTEXT(aprobaciones)%%></span></div>
			</div>
		</div>
		<!-- Field: COBRO PARTICULAR -->
		<div class="form-group ventas-cobro_particular" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">COBRO PARTICULAR</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(cobro_particular)%%></div>
			</div>
		</div>
		<!-- Field: ENTREGA CEDULA -->
		<div class="form-group ventas-entrega_cedula" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ENTREGA CEDULA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(entrega_cedula)%%></div>
			</div>
		</div>
		<!-- Field: N&#218;MERO DE CUOTAS -->
		<div class="form-group ventas-cuotas" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">N&#218;MERO DE CUOTAS</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cuotas)%%></div>
			</div>
		</div>
		<!-- Field: VALOR CUOTA -->
		<div class="form-group ventas-valor_cuota" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VALOR CUOTA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(valor_cuota)%%></div>
			</div>
		</div>
		<!-- Field: CANTIDAD ITEMS -->
		<div class="form-group ventas-cantidad_productos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CANTIDAD ITEMS</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad_productos)%%></div>
			</div>
		</div>
		<!-- Field: PROVINCIA -->
		<div class="form-group ventas-provincia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PROVINCIA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="provincia<%%RND1%%>"><%%COMBOTEXT(provincia)%%></span></div>
			</div>
		</div>
		<!-- Field: CANTON -->
		<div class="form-group ventas-canton" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CANTON</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="canton<%%RND1%%>"><%%COMBOTEXT(canton)%%></span></div>
			</div>
		</div>
		<!-- Field: PARROQUIA -->
		<div class="form-group ventas-parroquia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PARROQUIA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="parroquia<%%RND1%%>"><%%COMBOTEXT(parroquia)%%></span></div>
			</div>
		</div>
		<!-- Field: TIPO VENTA -->
		<div class="form-group ventas-tipo_venta" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">TIPO VENTA</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_venta<%%RND1%%>"><%%COMBOTEXT(tipo_venta)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="ventas-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=ventas-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'ventas',
				SelectedID: '<%%VALUE(numero_contrato)%%>',
				Operation: 'show-children-printable'
			},
			'ventas-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

