<div class="form-group ventas-mes_comision_venta">
    <hr class="hidden-md hidden-lg">
    <label class="control-label col-lg-3" for="s2id_autogen1">MES COMISIÓN VENTA<span
            class="text-danger">*</span></label>
    <div class="col-lg-9">
        <div class="select2-container option_list" id="s2id_mes_comision_venta" style="width: 100%;">
            <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">
                <span class="select2-chosen">ENERO</span>
                <abbr class="select2-search-choice-close"></abbr>
                <span class="select2-arrow">
                    <b></b></span>
            </a>
            <input class="select2-focusser select2-offscreen"
                                                                   type="text"
                                                                   id="s2id_autogen1">
            <div class="select2-drop select2-display-none select2-with-searchbox">
                <div class="select2-search"><input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                                   spellcheck="false" class="select2-input"></div>
                <ul class="select2-results"></ul>
            </div>
        </div>

        <select style="width: 100%;" name="mes_comision_venta" id="mes_comision_venta"
                class="option_list select2-offscreen" tabindex="-1">
            <option value="ENERO">ENERO</option>
            <option value="FEBRERO">FEBRERO</option>
            <option value="MARZO">MARZO</option>
            <option value="ABRIL">ABRIL</option>
            <option value="MAYO">MAYO</option>
            <option value="JUNIO">JUNIO</option>
            <option value="JULIO">JULIO</option>
            <option value="AGOSTO">AGOSTO</option>
            <option value="SEPTIEMBRE">SEPTIEMBRE</option>
            <option value="OCTUBRE">OCTUBRE</option>
            <option value="NOVIEMBRE">NOVIEMBRE</option>
            <option value="DICIEMBRE">DICIEMBRE</option>
        </select>
        <script>jQuery(function () {
            jQuery("#mes_comision_venta")
                .addClass('option_list')
                .select2({
                    minimumResultsForSearch: 5,
                    sortResults: AppGini.sortSelect2ByRelevence
                });
        })</script>
    </div>
</div>